In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("clothes_price_prediction_data.csv")
df.head()

          Brand Category  Color Size Material  Price
0   New Balance    Dress  White   XS    Nylon    182
1   New Balance    Jeans  Black   XS     Silk     57
2  Under Armour    Dress    Red    M     Wool    127
3          Nike    Shoes  Green    M   Cotton     77
4        Adidas  Sweater  White    M    Nylon    113

In [3]:
df['Category'].unique()

array(['Dress', 'Jeans', 'Shoes', 'Sweater', 'Jacket', 'T-shirt'],
      dtype=object)